.memory-tracker-widget__mb-10 {
    margin-bottom: 2.5rem;
}

.memory-tracker-chart-name {
    margin-bottom: 1rem;
    display: block;
    margin-top: 1.5rem;
    text-align: center;
}

.memory-tracker-col-span-full {
    grid-column: 1 / -1;
}
